:root {
     --primary-font: "Winky Sans", sans-serif;
      --primary-color: darkblue;  
    --secondary-color: white; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto; 
    justify-content: center;
    margin: 0;
    font-size: 14px;
}

header, footer {
    width: 100%;
    height: 60px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
}

main {
    width: 100%;
    background-color: var(--secondary-color);  
}

.sunny {
    display: block;
    width: 60px;
    margin: 0 auto;
}

.emoticon {
    display:none;
}

h1, h2 {
    text-align: center;
    font-family: var(--primary-font);
}

table {
    margin: 20px auto; 
    border-collapse: collapse;
    width: 80%; 
}