@media screen and (min-width: 500px) {
body {
    font-size: 18px;
}

main {
    width: 100%;
    background-color: white;
    position: relative; 
}

.sunny {
    display:none
}

.emoticon {
    display: inline-block;
    font-size: 60px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

  .weather-table {
    position: absolute;
    bottom: 20px;
    right: 40px;
    background-color: var(--secondary-color);
    border-radius: 5px;
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
  }

  .small-img {
    width: 100%;
    max-width: 1000px;
    height: auto;
  }

  .data-table {
    position: absolute;
    top: 20px;
    left: 40px;
    background-color: white;
  }

}