* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto; 
    justify-content: center;
    margin: 0;
    font-size: 14px;
}

header, footer {
    width: 100%;
    height: 60px;
    background-color: darkblue;
    color: white;
    display: flex; 
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    background-color: white;
    
}

.sunny {
    width: 60px;
    display: block;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}

table {
    margin: 20px auto; 
    border-collapse: collapse;
    width: 80%; 
}