* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

div {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 10px;
}

section {
    padding: 1rem;
    background-color: white;
}



footer {
    background-color: lightblue;
     display: flex;
    justify-content: center; /* Centers text horizontally */
    align-items: center;
    height: 50px;
}

header, footer {
    width: 100%;
    height: 60px;
    background-color: lightblue;
}
 

img {
    display: block;
    margin: 20px auto;
    object-fit: cover;
    width: 250px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    color: blue;

}

.header-content {       
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    }

    /* Show hamburger icon */
.menu-button {
    border: none;
    cursor: pointer;
    display: block;
    background-color: lightblue;
    }
  

#nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: lightblue;
    text-align: center;
    padding: 10px 0;
    }

    /* Show menu when JS adds 'open' class */
#nav-menu.open {
    display: flex;
    }


    /* Style individual links */
#nav-menu a {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    }

h2 {
        text-align: center;
    }

h1 {
    margin: 0;
    font-size: 25px;
}

  figcaption {
    font-size: 0.8em;
    text-align: center;
  }