@media screen and (min-width: 500px) {

 
    div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }  
      header, main, footer {
    max-width: 1000px;
    margin: 0 auto;
    }

    header  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }

    nav {
        display: flex;
        justify-content: space-around;
        gap: 30px;
        width: 500px;
        margin-right: 20px;
    }

    header p {
        margin-left: 20px;
    }

    h1 {
        text-align: center;
        margin: 20px;
    }
}