* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 10px;
}

section {
    padding: 1rem;
    background-color: white;
}

footer {
    background-color: lightblue;
     display: flex;
    justify-content: center; /* Centers text horizontally */
    align-items: center;
    height: 50px;
}

header {
    background-color: lightblue; 
    width: 100%;
}

img {
    display: block;
    margin: 20px auto;
    object-fit: cover;
    width: 250px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    color: blue;

}

.container {       
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    }
